@page "/"
@using MudBlazor

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<MudPaper Class="pa-6 mx-auto mt-6" Elevation="6" MaxWidth="400px">
    <MudText Typo="Typo.h5" Align="Align.Center">Appointment Demo</MudText>
    <MudDivider Class="my-4" />

    <MudCard>
        <MudCardContent>
            <MudText Typo="Typo.subtitle1" Color="Color.Primary">
                Client: John Doe
            </MudText>
            <MudText Typo="Typo.body2">
                Date: @DateTime.Now.AddDays(1).ToString("dddd, dd MMM yyyy")
            </MudText>
            <MudText Typo="Typo.body2">
                Time: 10:00 AM
            </MudText>
        </MudCardContent>

        <MudCardActions>
            <MudButton Variant="Variant.Filled" Color="Color.Primary">Confirm</MudButton>
            <MudButton Variant="Variant.Outlined" Color="Color.Secondary">Reschedule</MudButton>
        </MudCardActions>
    </MudCard>
</MudPaper>